body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.my-dropdown button, .my-dropdown button:hover, .my-dropdown button:active, .my-dropdown button:focus {
    background: #93e499 !important;
    border-color: #93e499 !important; 
}

.my-dropdown-item {
    background: #93e499 !important;
}

.my-dropdown-item:hover, .my-dropdown-item:active, .my-dropdown-item:focus {
    background: #ffffff !important;
}

.dropdown-menu {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}